.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
  background-color: #e5e5e5; /* Ista pozadina kao na ostatku sajta */
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 25px;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
}

.auth-button {
  background-color: #82c385; /* Tvoja zelena iz Figme */
  color: black;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.auth-button:hover {
  background-color: #6eb071;
  color: white;
}